[user]
	name = Raphaël Pinson
	email = raphael@isovalent.com
	signingkey = 10CB2A8D

[alias]
	today = log --since=midnight --author='Raphaël Pinson' --oneline
	since = !git log $(git merge-base --fork-point master)..HEAD
	t = tag -s
	please = push --force-with-lease
	commend = commit --amend --no-edit
	tidy = !"git branch --merge | grep -v main | grep -v master | xargs git branch -d"
	tag-sort = tag --sort v:refname
	pr = !"pr() { git fetch origin pull/$1/head:pr-$1; }; pr"
	mr = !"mr() { git fetch origin refs/merge-requests/$1/head:mr-$1; }; mr"
	branches = !"git for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:iso8601)%09%(color:white)%(refname:short)' refs/heads"
	undo = reset HEAD~

[commit]
	gpgsign = true
	template = /home/raphink/.git-templates/commit-template

[color]
	ui = auto

[diff]
  compactionHeuristic = true
	algorithm = histogram
#	tool = difftastic
#	external = difft
#[difftool]
#	prompt = false
[difftool "diffpdf"]
  cmd = diffpdf --view "$LOCAL" "$REMOTE"
#[difftool "difftastic"]
#	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX

[pull]
	ff = only
[push]
	followTags = true
	default = simple
	autoSetupRemote = true
[rebase]
	autosquash = true

[help]
	autoCorrect = 30

[url "git@github.com:"]
  insteadOf = gh:
[url "git@github.com:raphink/"]
  insteadOf = ghr:

[includeIf "gitdir:~/src/github.com/raphink/"]
	path = ~/.gitconfig-raphink

#[secrets]
#	providers = git secrets --aws-provider
#	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
#	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
#	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
#	allowed = AKIAIOSFODNN7EXAMPLE
#	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[init]
	templateDir = /home/raphink/.git-templates/git-secrets
[format]
	signoff = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
